



body {
  color:#fff;
  text-shadow: 1px 1px 1px #000;
  /* background: rgb(231, 172, 8); */
  background: #1e0f52;
  background-position: right;

}

.mi_left {
text-align: left;
}

#bg {
  position: fixed;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: linear-gradient(0deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px), linear-gradient(-90deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px);
  background-size: 50px 50px;
  pointer-events: none;
}

#icon {
  filter: drop-shadow(1px 1px 2px #222);
  /* margin: 3px; */
  position: fixed;
  top: 7px;
  right: 7px;
  /* padding: 6px; */
  /* width: 22px; */
}
#icon_flip {
  transform: rotate(180deg);
  filter: drop-shadow(1px 1px 2px #222);
  /* margin: 3px; */
  position: fixed;
  top: 7px;
  left: 7px;
  /* padding: 6px; */
  /* padding-bottom: 8px; */
  /* width: 24px; */
}

#header {
  position: fixed;
  z-index: -2;
  width: 600px;
  left: 50%;
  top: 0px;
  font-size: 1.3em;
  /* border-radius: 5px; */
  margin-left: -300px;
  user-select: none;
  text-align: center;
  background: rgb(231, 172, 8);
}
button{
  background: none;
	color: #000;
	border: none;
	padding: 0;
	font: inherit;
  text-shadow: 0px 0px 5px #fff;
	font-size: 11pt;
  font-weight: 900;;
  margin-left: -7px;
  cursor: pointer;
	outline: inherit;
}
button:before{
  content:" \300C";
}
button:after{
  content:" \300D";
}
button:hover {
  color: #0f0;
}
button:active {
  color: #ff00d2;
}

a {
  color: #0f0;
  text-decoration: none;
}
a:visited {
  color: #0f0;
}
a[href^="mailto"] {
  color: #0f0;
}

#b_home {
  cursor: pointer;
}
#b_home:hover {
  color: #0f0;
}


.page {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 53px;
  bottom: 0px;
/*   
  width: 100vw;
  height: 100vh; */
}

.page_content {
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  overflow-y: auto;
  border: 1px solid #ddd;
  text-align: center;
  padding: 4px;
}

#page_welcome {
  display: block;
}
#page_training {
  display: none;
}
#page_repository {
  display: none;
}
#page_control {
  display: none;
}
.how_to {
  width: 100%;
  text-align: center;
}
.how_to td {
  width: 33%;
  padding: 10px;
  /* border: 1px solid #fff; */
}
#how_desc td {
  background-color: #fff6;
}
#repo_table {
  width: 100%;
  border: 1px solid #000;
}
td {
  vertical-align: top;
  padding: 7px;
}
.img_cell {
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #fff6;
}
.repo_title {
  font-weight: bold;
}

#project_select {
  width: inherit;
}

#project_logo {
  min-width: 140px;
  width: 10%;
}
#project_board {
  width: 90%;
}
#project_board img {
  /* width: inherit; */
  max-height: 108px;
}

#page_help {
  display: none;
}

#code_out {
  resize: none;
  width: 100%;
  height: 40vh;
  padding: 7px; 
  text-wrap: wrap;
  font-size: 1em;
}





.mote_w {
  border: 1px solid lightgray;
  padding: 5px;
  cursor: pointer;
}
.mote_w:hover {
  border-color: orchid;
}

#available_mobs{
  /* background-color: snow; */
}


#control_monitor{
  min-width: 300px;
  max-width: 60vw;;
  min-height: 300px;
  max-height: 315px;
  overflow-x: scroll;
}

ul {
  list-style-position: inside;
  margin-left: -56px;
}


#controls {
  position: fixed;
  z-index: 1;
  right: 0px;
  top: 75px;
  user-select: none;
  transform: scale(.72);
}

#text_entry {
  background: rgba(255, 255, 255, 0.456, 0.328);
  z-index: 8;
  color: #fff;
  font-family: cursive;
  font-size: 1.1em;
  padding: 10px;
  position: absolute;
  resize: none;
max-width: 75%;
left: 16%;
  bottom: 10px;
  text-shadow: 1px 1px 3px #000;
  height: 3em;
}
#text_entry:hover {
  height: 3em;
  background: rgba(255,255,255,.5);
}
#text_entry:focus {
  height: 5em;
  background: rgba(255,255,255,.5);
}



#text_in_w {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 70%;
}
#text_in_w textarea {
  background-color: rgba(0,0,0,.555);
  color: #fff;
  font-family: cursive;
  font-size: 2em;
  padding: 10px;
  position: absolute;
  resize: none;
width: 100%;

}

#text_in_w textarea:hover {
  background-color: rgba(0,0,0,.9);
}

#text_in_w textarea:focus {
  background-color: rgba(0,0,0,.9);
}

#text_in_w button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 8;
}
#text_submit {
  position: absolute;
  bottom: 10px;
  z-index: 8;
}

#vitals {
  font-family: monospace;
}

#vitals_title {
  position: fixed;
  top: -14px;
  font-size: 1.2em;
  font-weight: 600;
  right: 50px;
  text-align: center;
  pointer-events: none;
}
#vital_1 {
  position: absolute;
  left: 0px;
  top: 53px;
width: 100%;
  height: 9px;
  background-color: green;
}

#mot_out {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 52%;
  left: 35%;
  transform: translate(-50%, -50%);
padding-top: 22px;

  font-size: .9em;
  display: block;
  width: 69%;
  height: 69%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom-right-radius: 56px;
  white-space: nowrap;
}

#ignition {
  width: 33px;
  height: 33px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 7px;
  stroke: #fff;
  cursor: pointer;
  user-select: none;
  -webkit-filter: drop-shadow(1px 1px 1px #000);
  filter: drop-shadow(0px 0px 1px #000);
}
#ignition:hover {
  stroke: #ff0;
}

.hud_l {
  display: inline;
  float: left;
  padding-left: 12px;
  font-family: monospace;
  font-size: 1.2em;
  cursor: default;
}

.hud_r {
  display: inline;
  float: right;
  padding-right: 48px;
  font-family: monospace;
  font-size: 1.3em;
  font-weight: 900;
  cursor: default;
}

.in_b {

}

#space_b {
  position: fixed;
  left: 0px;
  padding: 4px;
}

#symbol_set {
  padding: 9px;
  width: 138px;
  max-height: 240px;
  overflow-x: auto;
  border: 2px solid green;
  display: inline-block;
  background: rgba(255,255,255,.5);
}
.sym {
  display: inline-block;
  padding: 9px;
  border: 2px solid green;
  cursor: pointer;
}
.sym:hover {
  border-color: red;
}

.mm_in {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 5px;
  border: 2px solid green;
  background: rgba(255,255,255,.5);
  cursor: pointer;
}
.mm_in:hover {
  border-color: red;
}
.mm_in:active {
  background: rgba(255,255,255,.3);
}
.mm_ph {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 5px;
  border: 2px solid rgba(0,0,0,0);
}

#slider_w {
  padding: 9px;
  border: 2px solid green;
  display: inline-block;
  background: rgba(255,255,255,.5);
}
#slider_w:hover {
  border: 2px solid red;
}
#slider_w:active {
  background: rgba(255,255,255,.3);
}

#ternary_in {
  font-size: 2em;
  display: inline;

}

#ternary_in span {
  padding: 3px;
  cursor: pointer;
  border: 2px solid green;
  background: rgba(255,255,255,.5);
}
#ternary_in span:hover {
  border: 2px solid red;
}
#ternary_in span:active {
  background: rgba(255,255,255,.3);
}

#binary_in {
  font-size: 2em;
  display: inline;
  padding: 12px;
}

#binary_in span {
  padding: 3px;
  cursor: pointer;
  border: 2px solid green;
  background: rgba(255,255,255,.5);
}
#binary_in span:hover {
  border: 2px solid red;
}
#binary_in span:active {
  background: rgba(255,255,255,.3);
}


#privacy_poli {
  font-size: .7em;
  text-align: left;
  height: 140px;
  width: 100%;
  background-color: #fff6;
}