



body {
  color:#fff;
  text-shadow: 1px 1px 1px #000;
  /* background: rgb(231, 172, 8); */
  background: #1e0f52;
  background-position: right;

}

.mi_left {
text-align: left;
}

#bg {
  position: fixed;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: linear-gradient(0deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px), linear-gradient(-90deg, transparent 0%, transparent 9px, rgba(255, 255, 255, 0.2) 9px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 19px, rgba(255, 255, 255, 0.1) 19px, rgba(255, 255, 255, 0.1) 20px, transparent 20px, transparent 29px, rgba(255, 255, 255, 0.1) 29px, rgba(255, 255, 255, 0.1) 30px, transparent 30px, transparent 39px, rgba(255, 255, 255, 0.1) 39px, rgba(255, 255, 255, 0.1) 40px, transparent 40px, transparent 49px, rgba(255, 255, 255, 0.1) 49px, rgba(255, 255, 255, 0.1) 50px);
  background-size: 50px 50px;
  pointer-events: none;
}

#icon {
  filter: drop-shadow(1px 1px 2px #222);
  float: right;
}
#icon_flip {
  transform: rotate(180deg);
  float: right;
  filter: drop-shadow(1px 1px 2px #222);
}

#header_n {
  position: absolute;
  left: 0px;
}
#header_p {
  position: absolute;
  right: 0px;
}
#header {
  position: fixed;
  z-index: 1;
  width: 600px;
  left: 50%;
  top: 0px;
  font-size: 1.3em;
  /* border-radius: 5px; */
  margin-left: -300px;
  /* user-select: none; */
  text-align: center;

  text-shadow: 0px 0px 5px #ddd;
  background: rgba(231, 172, 8, .86);
}

#helper_tutor {
  background: rgba(231, 172, 8, .86);
  padding: 7px;
  margin: 11px;
  text-align: left;
  color: black;
  text-shadow: none;
}
#helper_tutor li {
  padding-bottom: 6px;
}

#footer {
  position: absolute;
  z-index: -1;
  left: 10px;
  right: 25px;
  bottom: 0px;
  user-select: none;
}
#footer img {
  width: 94vw;
}
#footer_name {
  position: absolute;
  bottom: 2px;
  right: 2px;
  text-align: right;
  font-size: .7em;
  font-family: monospace;
}
button{
  background: none;
	color: #000;
	border: none;
	padding: 0;
	font: inherit;
  text-shadow: 0px 0px 5px #777;
	font-size: 14pt;
  font-weight: 900;;
  margin-left: -7px;
  cursor: pointer;
	/* outline: inherit; */
  -webkit-tap-highlight-color: #0000;

}
button:before{
  content:" \300C";
}
button:after{
  content:" \300D";
}
button:hover {
  color: #0f0;
  text-shadow: 0px 0px 5px #fff;
}
button:active {
  color: #ff00d2;
  text-shadow: 0px 0px 5px #fff;
}

a {
  color: #0f0;
  text-decoration: none;
}
a:visited {
  color: #0f0;
}
a[href^="mailto"] {
  color: #0f0;
}

#b_home {
  cursor: pointer;
  font-weight: bold;
  -webkit-tap-highlight-color: #0000;
}
#b_home:hover {
  color: #0f0;
}
#b_home:active {
  color: #ff00d2;
}

.page {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 53px;
  bottom: 0px;
/*   
  width: 100vw;
  height: 100vh; */
}

.page_content {
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  overflow-y: auto;
  /* overflow-x: hidden; */
  border: 1px solid #ddd;
  text-align: center;
  padding: 6px;
  background-color: #0001;
}

#page_welcome {
  display: block;
}
#page_training {
  display: none;
}
#page_repository {
  display: none;
}
#page_control {
  display: none;
}
.how_to {
  width: 100%;
  text-align: center;
  user-select: none;
}
.how_to td {
  width: 33%;
  /* border: 1px solid #fff; */
}
#how_desc td {
  background-color: rgba(255, 255, 255, 0.08);
}
#how_desc td:hover {
  background-color: #6b5b95; /* Vibrant coral */
  transition: background-color 0.1s ease-in-out;
}
#how_desc td:active {
  background-color: #88d8b0; /* Vibrant coral */
  transition: background-color 0.1s ease-in-out;
}

#repo_table {
  width: 98%;
  border: 1px solid #000;
}
td {
  vertical-align: top;
  padding: 1px;
}
td li {
  text-align: left;
  padding-bottom: 9px;

}
.img_cell {
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #fff6;
}
.repo_title {
  font-weight: bold;
}
ol {
  padding-left: 21px;
}
select {

  width: 100%;
  height: 31px;
}
#project_select {
}

#project_logo {
  min-width: 140px;
  width: 10%;
}
#project_board {
  width: 90%;
}
#project_board img {
  /* width: inherit; */
  max-width: 140px;
  max-height: 108px;
}

#page_help {
  display: none;
}

#code_out {
  resize: none;
  width: 99%;
  min-height: 60vh;
  padding: 7px; 
  text-wrap: wrap;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.7);
}

#code_wrap button {
  color: white;
}



.mote_w {
  border: 1px solid lightgray;
  padding: 5px;
  cursor: pointer;
}
.mote_w:hover {
  border-color: orchid;
}

#available_mobs{
  /* background-color: snow; */
}


#control_monitor{
  min-width: 300px;
  max-width: 60vw;;
  min-height: 300px;
  max-height: 315px;
  overflow-x: scroll;
}


#controls {
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  user-select: none;
}

#text_entry {
  background: rgba(0,0,0,.85);
  z-index: 8;
  color: #fff;
  font-family: cursive;
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  position: absolute;
  resize: none;
  bottom: 245px;
  right: 127px;
  overflow: hidden;
  width: 33px;
  height: 33px;
}
#text_entry:hover {
  /* background: rgba(255,255,255,.5); */
}
#text_entry:focus {
  right:3%;
  bottom: 100px;
  height: 175px;
  width: 90%;
}





#text_in_w {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 70%;
}
#text_in_w textarea {
  background-color: rgba(0,0,0,.555);
  color: #fff;
  font-family: cursive;
  font-size: 2em;
  padding: 10px;
  position: absolute;
  resize: none;
width: 100%;

}

#text_in_w textarea:hover {
  background-color: rgba(0,0,0,.9);
}

#text_in_w textarea:focus {
  background-color: rgba(0,0,0,.9);
}

#text_in_w button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 8;
}
#text_submit {
  position: absolute;
  bottom: 10px;
  z-index: 8;
}

#vitals {
  font-family: monospace;
  z-index: 1;
}

#vitals_title {
  position: fixed;
  top: -14px;
  font-size: 1.2em;
  font-weight: 600;
  right: 50px;
  text-align: center;
  pointer-events: none;
}
#vital_1 {
  position: absolute;
  left: 0px;
  top: 45px;
width: 100%;
  height: 9px;
  background-color: #afafafb0;
}

#mot_out {
  background-color: rgba(228, 255, 229, .8); 
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
padding-top: 22px;
z-index: 0;
  font-size: .9em;
  font-family: monospace;
  color: black;
  text-shadow: none;
  display: block;
  height: 69%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}
#form_factor {
  background-color: #3e113160;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
  border-radius: 17;
  border-bottom-right-radius: 74px; 
}
#directional_pad {
  position: absolute;
  bottom: 116px;
  left: 3px;
}
#ignition {
  width: 33px;
  height: 33px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 7px;
  stroke: #fff;
  cursor: pointer;
  user-select: none;
  -webkit-filter: drop-shadow(1px 1px 1px #000);
  filter: drop-shadow(0px 0px 1px #000);
  -webkit-tap-highlight-color: #0000;
}
#ignition:hover {
  stroke: #ff0;
}

.hud_l {
  display: inline;
  float: left;
  padding-left: 12px;
  font-family: monospace;
  font-size: 1.2em;
  cursor: default;
}

.hud_r {
  display: inline;
  float: right;
  padding-right: 48px;
  font-family: monospace;
  font-size: 1.3em;
  font-weight: 900;
  cursor: default;
}

.in_b {

}

#space_b {
  position: fixed;
  left: 0px;
  padding: 4px;
}

#symbol_set {
  padding: 9px;
  text-align: left;
  width: 160px;
  max-height: 240px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.sym {
  display: inline-block;
  width: 33px; 
  height: 17px;
  text-align: center;
  margin-top: 6px;
  border: 2px solid #0086c3;
  cursor: pointer;
}
.sym:hover {
  border-color: red;
}

.mm_in {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 5px;
  border: 2px solid #ffffffd6;
  border-style: outset;
  background: rgba(255,255,255,.5);
  cursor: pointer;
}
.mm_in:hover {
  border-style: inset;
  border-color: green;
}
.mm_in:active {
  background: rgba(255,255,255,.3);
}

#slider_w {
  position: absolute;
  right: 28px;
  bottom: 46px;
  display: inline-block;
  transform: rotate(-90deg);
}
#slider_w:hover {
  /* border: 2px solid red; */
}
#slider_w:active {
  /* background: rgba(255,255,255,.3); */
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 220px;
  position: absolute;
  background-color: #ffffff;
/* pointer-events: none; */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 40px;
  background-color: #000000;
  border: 1px solid #777;
  border-radius: 15px;
  cursor: pointer;
  -webkit-tap-highlight-color: #0000;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #fff;
}



#ternary_in {
  font-size: 2em;
  position: absolute;
  bottom: 181px;
  right: 28px;
  transform: rotate(-45deg);
  font-family: monospace;
  font-variant-caps: petite-caps;
}

#ternary_in span {
  cursor: pointer;
  border: 3px solid red;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5f5f5f;
  -webkit-tap-highlight-color: #0000;
}
#ternary_in span:hover {
  border-color: white !important;
}
#ternary_in span:active {
  background: #333;
}

#binary_in {
  font-size: 2em;
  padding: 12px;
  position: absolute;
  bottom: 93px;
  right: 23px;
  transform: rotate(-45deg);
  font-family: monospace;
  font-variant-caps: petite-caps;
}

#binary_in span {
  display: inline-block;
  cursor: pointer;
  border: 3px solid red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5f5f5f;
  -webkit-tap-highlight-color: #0000;
}
#binary_in span:hover {
  border-color: white !important;
}
#binary_in span:active {
  background: #333;
}


#privacy_poli {
  font-size: .8em;
  text-align: right;
  height: 100px;
  margin-left: 17%;
  width: 67%;
  color: black;
  text-shadow: none;
  background: lightsteelblue;
  overflow: auto;
}