







/*//////////////////////////////
// GetFire.net chat applet
//////////////////////////////*/




#getfire_icon {
  position: absolute;
  bottom: 7px;
  right: 7px;
  width: 42px;
  height: 42px;
  stroke:#fff;
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 1px #000);
  filter: drop-shadow(1px 1px 1px #000);
}
#getfire_icon:hover {
  stroke: #ff00d2;
}
#getfire_icon:active {
  transform: scale(1.1);
}
#getfire_icon .ftb_fill {
  fill: #fff;
}
#getfire_icon:hover .ftb_fill {
  fill: #000;
}
#getfire_icon:active .ftb_fill {
  fill: #fff;
}



#getfire_wrapper {
  position: fixed;
  z-index: 9;
  bottom: 0px;
  right: 0px;
  font-family: georgia, verdana, sans-serif;
  user-select: none;
}


#getfire_topic {
  overflow: hidden;

}


#gf_topic_head {
  padding-left: 9px;
  padding-right: 16px;
  padding-top: 3px;
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
#gf_topic_head:hover {
  color: #f30;
}
#gf_topic_head:active {
  color: #dd0000;
}



#gf_card {
  position: absolute;
  z-index: 3;
  top: 6px;
  right: 3px;

  width: 125px;
  height: 50px;

  color: #fff;
  font-size: .9em;
  text-shadow: 1px 1px 1px #333;

  background: rgba(0,0,0,.8);
  border: 1px solid #777;
  cursor: pointer;
}
#gf_card:hover {
  border-color: #fff;
}

#gf_tsb {
  position: absolute;
  right: 137px;
  top: 30px;
  z-index: 1;
  cursor: pointer;
  font-size: 1em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#gf_tsb:hover {
  color: #ff00d2;

  -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
}
#gf_tsb:active {
  color: yellow;
  font-weight: bold;
}



#gf_topic_content {
  position: relative;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  border: 1px solid #777;
  font-family: verdana, sans-serif;

}
#gf_topic_content:hover {
  border-color: #fff;
}



#gf_message_entry {
  font-family: inherit;
  font-size: .9em;
  position: absolute;
  padding-left: 3px;
  padding-top: 2px;
  padding-right: 3px;
  width: 76%;
  left: 1px;
  bottom: 1px;
  height: 1.4em;
  float: left;
  color: #fff;
  background-color: #000;
  border: 1px solid #555;
  border-radius: 3px;
  resize: none;
  z-index: 1;
}


#gf_submit {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 20%;
  height: 23px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  border-radius: 3px;
}


#gf_preview {
  margin-right: 2px;
  margin-bottom: 2px;
  height: 80px;
  display: none;

  background: rgba(0,0,0,.5);
  border: 1px solid #777;
  font-family: verdana, sans-serif;
}





#gf_settings {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.84);
  width: 60%;
  border-left: 1px solid #333;
  padding: 9px;
  display: none;
}
